<div class="container-fluid">
  <div class="form_area">
    <img src="https://www.evenementielpourtous.com/images/photo/mini/76813_1_mini_123497.jpg" alt="Image" class="form_image">
    <img src="https://img.freepik.com/vecteurs-premium/deux-colombes-volant-bagues-mariage-illustration-vectorielle_953063-607.jpg" alt="Image" class="form_image_right">  <!-- Image à gauche du formulaire -->
      <p class="title">LOG IN</p>
      <form action="">
          <div class="form_group">
              
          </div>
          <div class="form_group">
              <label class="sub_title" for="email">Email</label>
              <input placeholder="Enter your email" id="email" class="form_style" type="email">
          </div>
          <div class="form_group">
              <label class="sub_title" for="password">Password</label>
              <input placeholder="Enter your password" id="password" class="form_style" type="password">
          </div>
          <div>
            <a [routerLink]="'/HomeAdmin'">
              <button class="btn">LOG IN </button>
            </a>
              <p>Have an Account? <a class="link" [routerLink]="'/signup'" >sign up </a></p><a class="link" href="">
          </a></div><a class="link" href="">
      
  </a></form></div>
</div>
